@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Caveat:wght@500;700&family=Courgette&family=DM+Sans&family=Indie+Flower&family=Kablammo&family=Palanquin+Dark:wght@700&family=Parisienne&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,300;0,500;1,500&family=Sacramento&family=Style+Script&family=Varela+Round&display=swap');
.container{
    font-family: 'Roboto', sans-serif;
}
.mb-3{
    max-width: 1300px;
}
.Cough .card{
    background-color: #3ebd93;
}
.Fever .card{
    background-color: #e668a7;
}
.headach .card{
    background-color: #a368fc;
}
.siz{
    width: 30%;
}
.card-back{
    background-color: #0967d219;
}
.mb-3 .al{
    position: relative;
    top: 18px;
    padding: 0px 10px;
}
.mb-3 .doctor{
    width: 100px;
    height: 140px;
}
.bac-color{
    background-color: #e12d3919;
}