@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Caveat:wght@500;700&family=Courgette&family=DM+Sans&family=Indie+Flower&family=Kablammo&family=Palanquin+Dark:wght@700&family=Parisienne&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,300;0,500;1,500&family=Sacramento&family=Style+Script&family=Varela+Round&display=swap');
.container{
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
    font-family: 'Roboto', sans-serif;
}
.background_color{
    background-color:#fb4e71;
    color: #ffffff;
}
.card-size{
    max-width: 200px;
    color: #323f4b;
}
.btn-primary{
    position: relative;
    top: 10px;
    left:40%;
}