  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Courgette&family=DM+Sans&family=Indie+Flower&family=Kablammo&family=Palanquin+Dark:wght@700&family=Parisienne&family=Playfair+Display&family=Style+Script&family=Varela+Round&display=swap');
.kam_cover{
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 30%;
    margin-left: 35%;
    padding: 1px;
}
.ft_work{
    height: 40vh;
    width: 60%;
    border: 5px solid #48ee59;
    margin-left: 20%;
    margin-top: 40%;
    font-size: 38px;
    background-color: #00000080;
    font-family: 'Abril Fatface', cursive;
font-family: 'Bree Serif', serif;
padding: 35px;
}